
/**************** FONT & PALETTE ********************/
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root{
    --color1: rgba(26, 5, 19, 0.842);/*header*/
    --color2: rgba(197, 132, 143, 0.274);/*body*/
    --color3: rgba(87, 9, 26, 0.795);/*left*/
    --color4: rgba(248, 247, 247, 0.89);/*right*/
}


/******************* GENERAL SETTINGS *******************/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}


body{
    background: var(--color2)
}

main{
    width: 80%;
    margin: 20px auto;   
}

header{
    width: 100%;
    height: 150px;
    background: var(--color1);
    display: flex;
    align-items: center;
    position: relative;
}

h1{
    font-size: 50px;
    font-weight: bold;
    margin-left: 55px;
    margin-bottom: 10px;
}

h2{
    font-size: 25px;
    font-weight: normal;
    margin-left: 55px;
}

h3{
    font-size: 20px;
    margin-left: 30px ;
    text-transform: uppercase;
    font-weight: bold;
}

h3~p{
    font-size: 14px;
    margin-top: 18px;
    margin-left: 30px 
}

h4{
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 20px 0;
}
h4~p{
    font-size: 14px;
    margin: 20px 0;
    text-align: center;
}

h5{
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0;
}

h5~p{
    font-size: 14px;

}
h6{
    font-size: 16px;
    font-weight: normal;
    margin: 10px 0;
}

ul{
    margin-top: 20px;
}
li{
    
    margin-left: 20px;
    margin-top: 5px;
    font-size: 14px;
}


/********************* HEADER *******************/
header img {
    width: 260px;
    height: 260px;
    border-radius: 50%;
    position: absolute;
    top: 50px;
    left: 50px;
    border : 5px solid white;
    box-shadow: 3px 3px 10px var(--color1);
}

.header-text{
    color: white;
    width: 70%;
    margin-left: auto;
}

/********************* BODY SECTION *******************/
.content{
    display: flex;
}

/********************* LEFT SIDE *******************/

.left-side{
    width: 35%;
    background: var(--color3);
    display: flex; 
    flex-direction: column;
}


/*CONTACT SECTION*/

.contact{
    margin-top: 220px ;
    margin-bottom: 50px;
}



/*LANGUAGE SECTION */
.languages{
    margin:50px 0;
}

/*SKILLS SECTION*/

.skills{
    margin:50px 0;
}

.bars{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px 10px;
    margin-top: 20px;
}

.bar
{
    margin: 0 25px;
}

.bars .bar p {
    font-size: 15px;
    font-weight: bold;
    margin: 10px auto;
}

.bar span {
    display: block;
    width: 100%;
    height: 10px;
    background: var(--color3);
    border-radius: 10px;
    position: relative;
}

.bar#HTMLCSS span:before{
    position: absolute;
    content: "";
    width: 80%;
    height: 80%;
    background: var(--color1);
    top: 50%;
    left: 2px;
    transform: translateY(-50%);
}

.bar#Figma span:before{
    position: absolute;
    content: "";
    width: 10%;
    height: 80%;
    background: var(--color1);
    top: 50%;
    left: 2px;
    transform: translateY(-50%);
}

.bar#JS span:before{
    position: absolute;
    content: "";
    width: 30%;
    height: 80%;
    background: var(--color1);
    top: 50%;
    left: 2px;
    transform: translateY(-50%);
}


.bar#PHP span:before{
    position: absolute;
    content: "";
    width: 10%;
    height: 80%;
    background: var(--color1);
    top: 50%;
    left: 2px;
    transform: translateY(-50%);
}

.bar#NODE span:before{
    position: absolute;
    content: "";
    width: 10%;
    height: 80%;
    background: var(--color1);
    top: 50%;
    left: 2px;
    transform: translateY(-50%);
}

.bar#SQL span:before{
    position: absolute;
    content: "";
    width: 20%;
    height: 80%;
    background: var(--color1);
    top: 50%;
    left: 2px;
    transform: translateY(-50%);
}

/*HOBBY SECTION*/

.hobby{   
    margin:50px 0;
}


/************************ RIGHT SIDE *********************/
.right-side{
    width: 65%;
    padding: 30px;
    background: var(--color4);
    display: flex;
    flex-direction: column;
}

/*FIRST SECTION*/ 

.about{
    display: flex; 
    flex-direction: row;  
    gap: 30px;
    margin-bottom: 40px;
}

.citation{
    width: 40%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: solid black 1px;
    padding: 15px;
    border-radius: 8px ;
    background: var(--color2); 
    box-shadow: 0px 2px 2px 0px;
}

blockquote p {
    text-align: left;  
    margin: 0; 
}

figcaption{
    text-align: right;
}

.dream{
    width: 60%;
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid black 1px;
    padding: 15px;
    border-radius: 8px ;
    background: var(--color2); 
    box-shadow: 0px 2px 2px 0px;
}

.project p {
    text-align: center; 
}

/*SECOND SECTION : FORMATION*/
.education{
    margin: 40px 10px;
}

.edu-group{
    position: relative;
    margin: 30px 10px;
}

.edu-group span {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 15px;
    font-weight: bold;
}



/*THIRD SECTION : WORK GROUP*/
.work{
    margin: 40px 10px;
}

.work-group{
    position: relative;
    margin: 30px 10px;
}

.work-group span {
    position: absolute;
    top: 0;
    right: 0;
    font-weight: bold;
    font-size: 15px;
}

/*PRINT SECTION */

button{
    font-size: 18px;
    font-weight: bold;
    padding: 10px 20px;
    margin: 50px 0 50px 140px;
    background: var(--color3);
    color: white;
    border-radius: 5px;
    border:none;
    outline: none;
    box-shadow: 0 0 10px var(--color1);
    cursor: pointer;
    transition: .5s;
}

button:hover{
    background-color: var(--color4);
    color: black;
    border: solid var(--color1);
    box-shadow: 0 0 20px var(--color1);
}

@media print {
    body * {
        visibility: hidden;   
    }

    main * {
        visibility: visible;
    }
    h1{
        font-size: 30px;
    }
    h2{
        font-size: 20px;
    }

    header img{
        top: 0px;
        left: 0px;
        width: 200px;
        height: 200px;
    }
}  


